.signupContainer {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  color: white;
  .signform {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #ea7b30;
    padding: 2rem;
    border-radius: 2px;

    .inptB {
      width: 24rem;
      height: 1rem;
      padding: 0.6rem;
      border: solid 1px black;
      border-radius: 4px;
    }
    .Sbutton {
      background-color: #4f1930;
      color: white;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-family: inherit;
      cursor: pointer;
      transition: border-color 0.25s;
    }
    .Sbutton:hover {
      background-color: #ea7b30;
      border: solid 2px white;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .signupContainer {
    .signform {
      .inptB {
        width: 18rem;
      }
    }
  }
}
