.postContainer {
  margin-left: 13rem;
  padding-top: 5rem;
  padding-right: 2rem;
  .headerform {
    font-size: 2rem;
    font-weight: 450;
  }

  .postForm {
    padding-top: 1rem;
    .formfix {
      display: flex;
      flex-direction: row;
      gap: 0.7rem;
      .iputcontainer {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .inptAdd {
          width: 25rem;
          padding: 0.5rem;
          border: solid 0.1px rgb(123, 120, 120);
          border-radius: 2px;
        }
      }

      .inptAddArea {
        padding: 0.5rem;
        width: 28rem;
        height: 9.5rem;
        resize: none;
        border: solid 0.01px rgb(123, 120, 120);
        border-radius: 2px;
      }

      .labels {
        font-weight: 400;
        font-size: 0.8rem;
      }
    }

    .submit {
      padding-top: 0.7rem;
      .addButton {
        background-color: #ea7b30;
        color: white;
        width: 56rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
      }
      .addButton:hover {
        cursor: pointer;
      }
    }
  }
}
